<body>
<div class="container">

<p>
  <strong>Nina:</strong>
  <%= @team.person1_id %>
</p>

<p>
  <strong>Ninja:</strong>
  <%= @team.person2_id %>
</p>

<p>
  <strong>Ninja:</strong>
  <%= @team.person3_id%>
</p>

<p>
  <strong>Superior Ninja:</strong>
  <%= @team.personsuperior_id %>
</p>

<%= link_to 'Voltar', teams_path %>
</div>
</body>