<%= form_with model: @person, local: true do |form| %>

    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@person.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :name, autofocus: true, :required => true, :class => 'validate' %>
        <label for="name" class="active" data-error data-success>Name </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :user_id, autofocus: false, :required => true, :class => 'validate' %>
        <label for="id" class="active" data-error data-success>ID </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :birth_date, autofocus: false, :required => true, :class => 'validate' %>
        <label for="birth_date" class="active" data-error data-success>Birth Date </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :home_address, autofocus: false, :required => true, :class => 'validate' %>
        <label for="home_address" class="active" data-error data-success>Home Adress </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :ninja_rank, autofocus: false, :required => true, :class => 'validate' %>
        <label for="ninja_rank" class="active" data-error data-success>Ninja Rank </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :username, autofocus: false, :required => true, :class => 'validate' %>
        <label for="username" class="active" data-error data-success>Username </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :user_type, autofocus: false, :required => true, :class => 'validate' %>
        <label for="user_type" class="active" data-error data-success>User Type </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :email, autofocus: false, :required => true, :class => 'validate' %>
        <label for="email" class="active" data-error data-success>Email </label>
      </div>
    </div>

    <p>
      <%= form.submit %>
    </p>
<% end %>