<nav>
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li><a href=/# >back</a></li>
    </ul>
    <a href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="missions.html">Missions</a></li>
      <li><a href="people.html">People</a></li>
      <li><a href="teams.html">Teams</a></li>

    </ul>
  </div>
</nav>

<body>
<div class="container">
  <h1>Ninjas</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>User Id</th>
      </tr>
    </thead>

    <% @person.each do |person| %>
        <tbody>
          <tr>
            <td><%=person.name%></mission.title></td>
            <td><%=person.id%></td>
            <td><a class="waves-effect waves-light btn" href = "/people/<%=person.id%>"> Show </a></td>
            <td><a class="waves-effect waves-light btn" href = "/people/<%=person.id%>/edit"> Edit </a></td>

            <td><%= button_to 'destroy',person_path(person),
                            method: :delete,
                            data: { confirm: 'Are you sure?'} %> </td>
          </tr>
        </tbody>
    <%end%>
</table>
  <a class="waves-effect waves-light btn" href="people/new.html">New person</a>

</div>
</body>


