
<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @person.user_id %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @person.home_address %>
</p>

<p>
  <strong>Ninja rank:</strong>
  <%= @person.ninja_rank %>
</p>

<p>
  <strong>username:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>email:</strong>
  <%= @person.email %>
</p>