<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <h3>Welcome</h3>
<% end %>

<% if current_user != nil %>
<% if current_user.hokage? %>
  <h3>Welcome Hokage</h3>
<% elsif current_user.ninja? %>
  <h3>Welcome, Ninja</h3>
<% else %>
  <h3>Welcome</h3>
<% end %>
<% end %>

<%= link_to 'My Missions', controller: 'missions' %>
<%= link_to 'People', controller: 'people' %>
<%= link_to 'Teams', controller: 'teams' %>
