<%= form_with model: @mission, local: true do |form| %>

    <% if @mission.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@mission.errors.count, "error") %> prohibited
            this mission from being saved:
          </h2>
          <ul>
            <% @mission.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :title, autofocus: true, :required => true, :class => 'validate' %>
        <label for="title" class="active" data-error data-success>Title </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :local, autofocus: false, :required => true, :class => 'validate' %>
        <label for="local" class="active" data-error data-success>Local </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :challenge_label, autofocus: false, :required => true, :class => 'validate' %>
        <label for="challenge_label" class="active" data-error data-success>Challenge Level </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :team, autofocus: false, :required => true, :class => 'validate' %>
        <label for="team" class="active" data-error data-success>Team </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :creator, autofocus: false, :required => true, :class => 'validate' %>
        <label for="creator" class="active" data-error data-success>Creator </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :comments, autofocus: false, :required => true, :class => 'validate' %>
        <label for="comments" class="active" data-error data-success>Comments </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <%= form.text_field :price, autofocus: false, :required => true, :class => 'validate' %>
        <label for="price" class="active" data-error data-success>price </label>
      </div>
    </div>

    <p>
      <%= form.submit %>
    </p>

<% end %>

