<nav>
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li><a href=/# >back</a></li>
    </ul>
    <a href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="missions.html">Missions</a></li>
      <li><a href="people.html">People</a></li>
      <li><a href="teams.html">Teams</a></li>

    </ul>
  </div>
</nav>

<body>
<div class="container">
  <h1>Missions</h1>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Teams</th>
    </tr>
    </thead>

    <% @mission.each do |mission| %>
        <tbody>
        <tr>
          <td><%=mission.title%></mission.title></td>
          <td><%=mission.team%></td>
          <td><a class="waves-effect waves-light btn" href = "/missions/<%=mission.id%>"> Show </a></td>
          <td><a class="waves-effect waves-light btn" href = "/missions/<%=mission.id%>/edit"> Edit </a></td>
          <td><%= button_to 'destroy', mission_path(mission), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
        </tbody>
    <%end%>
  </table>
  <a class="waves-effect waves-light btn" href="missions/new">New mission</a>

</div>
</body>

