<h1>Hello, Rails</h1>
<%=link_to 'New mission', new_mission_path%>

<h1>Listing missions</h1>

<table>
  <tr>
    <td>Title</td>
    <td>Team</td>

  </tr>

  <% @mission.each do |mission| %>
    <tr>
      <td><%=mission.title%></mission.title></td>
      <td><%=mission.team%></td>
      <td><%= link_to 'Show', mission_path(mission) %></td>
      <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
      <td><%= link_to 'Destroy', mission_path(mission), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <%end%>
</table>
