<body>
<div class="container">
  <ul class="collection">
  <li class="collection-item">
    <p>
  <strong>Title:</strong>
  <%= @mission.title %>
  </p>
    </li>

  <li class="collection-item">
    <p>
    <strong>Local:</strong>
    <%= @mission.local %>
  </p>
    </li>

  <li class="collection-item">
    <p>
    <strong>Challenge Level:</strong>
    <%= @mission.challenge_label %>
  </p>
    </li>

  <li class="collection-item">
    <p>
    <strong>Team:</strong>
    <%= @mission.team %>
  </p>
    </li>

  <li class="collection-item">
    <p>
    <strong>Creator:</strong>
    <%= @mission.creator %>
  </p>
    </li>

  <li class="collection-item">
    <p>
    <strong>Commments:</strong>
    <%= @mission.comments %>
  </p>
    </li>

  <li class="collection-item">
    <p>
    <strong>Price:</strong>
    <%= @mission.price %>
  </p>
  </li>
  </ul>
  <a class="waves-effect waves-light btn" href="/missions">Back</a>

        
</div>

</body>


